.contact-us {
  text-align: center;
  font-size: 1.5rem;
  background-color: darkgray;
  margin-bottom: 10px;
  padding: 12px 5px;
  text-transform: uppercase;
}
.wraper {
  border: 1px solid black;
  width: 440px;
  /* font-size: 22px; */
  border-radius: 20px;
  margin: auto;
  padding: 10px;
}
.input-wrapper {
  display: inline-block;
  padding: 9px;
}
.input-wrapper label {
  display: inline-block;
  width: 89px;
}
.submit-btn input {
  border: 1px solid #93cae0;
  padding: 10px 20px;
  background-color: #93cae0;
  margin: 3px 154px;
  border-radius: 15px;
}
.error {
  color: red;
}
